body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffc03a;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin: 0;
    border: 0;
    padding: 0;

    h1 {
        font-style: italic;
        font-size: 60px;
        color: #2d006f;
        text-shadow: 2px 2px white;
    }
}

main {
    margin: auto;
    padding: 10px;
    font-family: Calibri;

}

footer {
    background-color: #c5b2f8;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    font-style: italic;
    font-weight: bold;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}