body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffc03a;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin: 0;
  border: 0;
  padding: 0;

  h1 {
    font-style: italic;
    font-size: 60px;
    color: #2d006f;
    text-shadow: 2px 2px white;
  }
}

main {
  padding: 10px;
  font-family: Calibri, serif;
  font-size: larger;

  justify-content: center;

  margin: auto 100px;

  aside {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

footer {

  background-color: #251140;
  color: #fdbe3a;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;


height: 50px;

align-items: center;

  left: 0;
  bottom: 0;
  width: 100%;

  a:link {
    color: #edb337;
    font-style: italic;
    font-weight: bold;
  }
  a:visited {
    color: #edb337;
    font-style: italic;
    font-weight: bold;
  }
  a:hover {
    color: #785b1b;
    font-style: italic;
    font-weight: bold;
  }
  a:active {
    color: #9f60f8;
    font-style: italic;
    font-weight: bold;
  }
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

.gallery-item {
  flex: 1 1 250px;
  max-width: 300px;
  border: 4px solid #6a3bd8;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery-item p {
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
  color: #552583;
}


.gallery-item:hover {
  transform: scale(1.03);
}





.gallery-containera {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

.gallery-itema {
  flex: 1 1 250px;
  max-width: 1600px;
  border: 4px solid #b59053;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.gallery-itema img {
  width: 100%;
  height: auto;
  display: block;
}

.tekst {
  text-align: center;
  color: #260a6e;
}

.teksta {
  text-align: center;
  color: #edc486;
}

.blaka {
  text-align: center;
}

